@import 'normalize.css';
@import 'highlight';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

code {
  font-family: Inconsolata, monospace;
}

pre {
  margin: 0;
}
