@import '~normalize.css';
@import 'variables';

body {
  background: darken($ntc-secondary, 5%);
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

textarea {
  background: $ntc-secondary;
  border: 0;
  border-radius: 1rem;
  color: $ntc-primary;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  outline: 0;
  padding: 2rem;
  text-transform: uppercase;
  width: 100%;
}
