@import '../../styles/variables';

.ColorInput {
  background: $ntc-white;
  border: 1px solid darken($ntc-secondary, 10%);
  border-radius: 3px;
  color: darken($ntc-primary, 10%);
  display: block;
  font-family: Inconsolata, monospace;
  font-size: 1rem;
  height: inherit;
  min-height: 15rem;
  padding: .5rem;
  width: 100%;
}
