@import '../../styles/variables';

.App {
  background: linear-gradient($ntc-secondary, $ntc-primary);
  display: flex;
  height: 100vh;
  padding: 1rem;
  width: 100vw;

  &__side {
    align-items: center;
    display: flex;
    height: 100%;
    width: 50%;
  }
}
