@import '../../styles/variables';

.ColorOutput {
  background: rgba(#49456e, 0.6);
  border: 0;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  outline: 0;
  padding: 2rem;
  text-transform: uppercase;
  width: 100%;

  &__item {
    display: block;
  }
}
